<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Downloaded</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body> 
    <img src="<%= image %>"> 
</body>

</html>
